/*Styling Classes*/
:root {
    --black: #333333;
    --white: #ecf0f1;
}

.white {
    color: #ecf0f1;
}

.black {
    color: #333333;
}

.head3 {
    font-size: 20px;
}

.head4 {
    font-size: 15px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.openSans {
    font-family: 'Roboto', sans-serif;
}

:root {

    /*Colors*/
    --white: #FFFFFF;
    --transparentWhite: #FFFFFF7F;
    --blue: #0000EE;
    --transparentBlue: #0000EE7F;
    --black: #000000;
    --transparentBlack: #000000AF;
    --highTransBlack: #0000001F;

    /*Font-Sizes*/
    --head1: 55px;
    --head2: 35px;
    --head3: 20px;

    /*Font-Families*/
    --family1: 'Montserrat', sans-serif;
    --family2: 'Roboto', sans-serif;
}

/*Animations*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -40%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*Scroll-Bar*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
    cursor: pointer;
}

/*Pop-Up*/
.container {
    position: relative;
    top: -8px;
    display: inline-block;
}

.popup {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 4px;
    z-index: 1;
    top: -30px;
    left: -10px;
}

.container:hover .popup {
    display: block;
}

.displayNone {
    display: none;
}