@import url('./partials/nav.css');
@import url('./partials/footer.css');

/*Styling Classes*/
:root {
    --black: #333333;
    --white: #ecf0f1;
}

.white {
    color: #ecf0f1;
}

.black {
    color: #333333;
}

.head3 {
    font-size: 20px;
}

.head4 {
    font-size: 15px;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.openSans {
    font-family: 'Roboto', sans-serif;
}

/*Scroll-Bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.section1 {
    min-height: 100vh;
    background: url('../images/line.png');

    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.part1 {
    display: flex;
    justify-content: space-between;
    color: var(--white);

    height: 30px;
    padding: 0px 5px;
}

.container {
    display: inline;
    position: relative;
    padding-left: 32px;
    margin-bottom: 6.25px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    border-radius: 50%;
}

.container:hover input~.checkmark {
    background-color: var(--white);
}

.container input:checked~.checkmark {
    background-color: #0000EE;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 6.25px;
    left: 6.25px;
    width: 7.5px;
    height: 7.5px;
    border-radius: 50%;
    background: white;
}

/*Pop-Up*/
.container {
    position: relative;
    top: -8px;
    display: inline-block;
}

.popup {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2px;
    z-index: 1;
    top: -30px;
    left: -10px;
}

.container:hover .popup {
    display: block;
}

.part2 {
    width: 50%;
    border-radius: 10px;

    box-sizing: border-box;
}

.inputSection {
    width: 70%;
    color: #FFFFFF;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -40%);
    animation: fadeIn 1s cubic-bezier(0.25, 0.1, 0.25, 1);
    z-index: 0;
}

.part2 textarea,
.part2 .outputBox {
    height: 50vh;
    width: 100%;
    background-color: var(--white);

    padding: 6.25px;
    box-sizing: border-box;
    border: none;
    outline: none;
    word-break: break-all;
}

.part2 .outputBox {
    margin-bottom: 4px;
    overflow-y: scroll;
    color: #000000;
}

.part2 div {
    background-color: var(--white);
}

.part2>div:first-child,
.part2>div:last-child {
    height: 30px;
    padding: 5px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 5px;
}


.part2>div:last-child {
    border-radius: 0px 0px 15px 15px;
    margin-bottom: 0;
}

.inputOutput {
    display: flex;
    justify-content: space-between;
}

.input>div:first-child,
.input>div:last-child {
    border-radius: 15px 0px 0px 0px;
    margin-bottom: 5px;
}

.input>div:last-child {
    border-radius: 0px 0px 0px 15px;
    margin-bottom: 0;
}

.output>div:first-child,
.output>div:last-child {
    height: 30px;
    padding: 5px;
    border-radius: 0px 15px 0px 0px;
    margin-bottom: 5px;
}

.output>div:last-child {
    border-radius: 0px 0px 15px 0px;
    margin-bottom: 0;
}


#copyToClipboard
{
    border: none;
    outline: none;

    font-size: 17.5px;
    padding: 0px 4px;
}
.part3 {
    display: flex;
    justify-content: space-between;

    padding: 10px 0px;
}

.part3 .btn {
    display: inline-block;

    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.5px;

    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;

    padding: 10px 20px;
    background-color: #0000EE;
    border-radius: 30px;
    border: 1px solid #000000;

}

.part3 .btn:hover {
    background-color: #0000EE7F;
    border: 1px solid #FFFFFF;
}

.part3 #fileName {
    display: inline-block;

    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 10px;
    position: relative;
    top: 20px;
}

@media (max-width: 768px) {

    .head3 {
        font-size: 15px;
    }

    .head4 {
        font-size: 15px;
    }

    .inputSection {
        width: 80%;
        position: static;
        transform: initial;
        padding-top: 100px;
        margin: auto;
    }

    .part1 {
        height: 25px;
        padding: 0px 3px;
    }

    .container {
        padding-left: 22px;
        margin-bottom: 4px;
    }

    .checkmark {
        height: 15px;
        width: 15px;
    }

    .container .checkmark:after {
        top: 5px;
        left: 4.8px;
        width: 5px;
        height: 5px;
    }

    .container {
        top: -4.5px;
    }

    .popup {
        padding: 2px;
        top: -30px;
    }

    .inputOutput
    {
        flex-direction: column;
    }

    .part2 {
        border-radius: 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .part2 textarea {
        padding: 4.5px;
    }

    .part2>div:first-child {
        height: 20px;
        padding: 4.5px;

        border-radius: 10px 10px 0px 0px;
        margin-bottom: 3px;
    }

    .part2>div:last-child {
        height: 20px;
        padding: 4.5px;

        border-radius: 0px 0px 10px 10px;
    }

    .part3 {
        display: flex;
        justify-content: space-between;

        padding: 8px 0px;
    }

    .part3 .btn {
        padding: 4.5px 10px;
        border-radius: 20px;
        font-size: 15px;
    }

    .part3 #fileName {
        max-width: 80px;
        padding: 4.5px;
        top: 12px;
    }
}
