@import url('./partials/nav.css');
@import url('./partials/utility.css');
@import url('./partials/footer.css');
@import url('./partials/inputOutput.css');

.part2 {
    width: 50%;
}

.part2 .outputBox {
    height: 50vh;
    width: 100%;
    background-color: var(--white);

    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;

    overflow-x: hidden;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.part2 .outputBox {
    margin-bottom: 4px;
    overflow-y: scroll;
    color: var(--black);
}

.inputOutput {
    display: flex;
    justify-content: space-between;
}

.input>div:first-child,
.input>div:last-child {
    border-radius: 15px 0px 0px 0px;
    margin-bottom: 5px;
}

.input>div:last-child {
    border-radius: 0px 0px 0px 15px;
    margin-bottom: 0;
}

.output>div:first-child,
.output>div:last-child {
    height: 30px;
    padding: 5px;
    border-radius: 0px 15px 0px 0px;
    margin-bottom: 5px;
}

.output>div:last-child {
    border-radius: 0px 0px 15px 0px;
    margin-bottom: 0;
}

.output button {
    border: 1px solid var(--black);
    border-radius: 5px;
    margin: 0 0 0 7.5px;
    outline: none;
    display: inline-block;

    font-size: 17.5px;
    padding: 0px 5px;
    box-shadow: -1px -1px 0 0 var(--transparentBlack);
    transition: all 0.25s ease-out;
}

.output button img {
    width: 15px;
}

.output button:active {
    background-color: var(--transparentBlack);
}

@media (max-width: 768px) {
    .part2 {
        width: 100%;
    }

    .inputSection {
        width: 80%;
        position: static;
        transform: initial;
        padding-top: 100px;
        margin: auto;
    }

    .inputOutput {
        flex-direction: column;
    }

    .part2 .outputBox {
        padding: 6.25px;
    }

    .part2>div:first-child {
        height: 20px;
        padding: 4.5px;

        border-radius: 10px 10px 0px 0px;
        margin-bottom: 3px;
    }

    .part2>div:last-child {
        height: 20px;
        padding: 4.5px;

        border-radius: 0px 0px 10px 10px;
    }
}