@import url('./partials/nav.css');
@import url('./partials/footer.css');
@import url('./partials/utility.css');
@import url('./partials/section1.css');
@import url('./partials/section2.css');

/*Title Page CSS*/
.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.bgImg {
    background: url('../images/bottom.jpg');
    background-size: cover;
    filter: blur(4px);

    width: 100%;
    min-height: 100vh;
}

/*Features Section*/
.section2::before{
    background: url('../images/top.jpg');
    background-size: cover;
    filter: blur(2px);
    z-index: -1;

}

.section2 h1{
    color: var(--white);

    font-size: var(--head2);
    font-family: var(--family1);
}

.contentContainer {
    color: var(--white);
}

.content{
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: var(--transparentBlack);
    transform: translateY(20px);
    opacity: 0;
}

.content.active {
    opacity: 1;
    transform: translateY(0);
}

.content div {
    text-align: left;
    flex-basis: 40%;
}

.content h3 {
    font-size: 30px;
    font-weight: 700;
    font-family: var(--family2);
}

.content p {
    font-size: var(--head3);
    font-weight: 400;
    font-family: var(--family2);

    line-height: 25px;
}

.content:hover {
    box-shadow: 0 0 15px 0 var(--white);
}

@media (max-width: 768px) {
    .section2 h1 {
        font-size: 30px;
    }

    .content h3 {
        font-size: 25px;
    }

    .content{
        flex-direction: column;
    }

    .content p {
        line-height: var(--head3);
        font-size: 15px;
    }
}

.contactForm {
    min-height: 120vh;

    background: url('../images/middle.jpg');
    background-size: cover;
    position: relative;
}

.contactBox {
    width: 80%;

    color: var(--white);
    text-align: center;

    font-size: var(--head3);

    transform: translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;
}

.contactBox h1 {
    font-size: var(--head2);
    font-family: var(--family1);
}

.contactBox p {
    line-height: 25px;

    font-family: var(--family2);

    padding-top: 10px;
}

.contactBox form {
    width: 75%;

    text-align: left;

    margin: auto;
}

.contactBox label,
.contactBox input,
.contactBox textarea {
    display: block;

    width: 100%;

    color: var(--white);

    font-size: var(--head3);
    font-family: var(--family2);
}

.contactBox label {
    margin-top: 17.5px;
}

.contactBox input,
.contactBox textarea {
    margin-top: 5px;
    padding: 8px;
    background-color: var(--transparentBlack);
    border: 1px solid var(--white);
    border-radius: 8px;
    outline: none;
}

.contactBox textarea {
    height: 30vh;
}

.contactBox input:focus,
.contactBox textarea:focus {
    box-shadow: 0 0 8px 0 var(--white);
}

.contactBox .submitContact {
    width: initial;

    color: var(--white);
    letter-spacing: 0.5px;

    font-weight: 500;

    padding: 10px var(--head3);
    background-color: var(--blue);
    border-radius: 30px;
    border: 1px solid var(--black);
    margin: 15px 0px;
}

.contactBox .submitContact:hover {
    background-color: var(--transparentBlue);
    border: 1px solid var(--white);
}

@media (max-width: 768px) {

    .contactBox h1 {
        font-size: 30px;
    }

    .contactBox p,
    .contactBox label,
    .contactBox input,
    .contactBox textarea,
    .contactBox a {
        font-size: 15px;
    }

    .contactBox {
        width: 80%;
    }

    .contactBox label {
        margin-top: 10px;
    }

    .contactBox input {
        margin-top: 4px;
        padding: 6px;
    }

    .contactBox .submitContact {
        margin-top: 10px;
    }

}

.contactBox {
    opacity: 0;
    transition: all 1s ease-out;
}

.contactBox.active {
    opacity: 1;
}